{% extends 'base.html' %}
<!-- Extiende la plantilla base 'base.html' -->

{% block content %}
<!-- Define el bloque de contenido específico -->

<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <!-- Contenedor principal con clases de Bootstrap -->

    <main class="container">
        <!-- Contenedor principal -->

        <div class="row g-5">
            <!-- Fila con espacio entre columnas -->

            <div class="col-md-3"></div>
            <!-- Columna vacía para crear espacio a la izquierda -->

            <div class="col-md-6">
                <!-- Columna central -->

                <div class="mt-5 mb-5" style="height:25vh">
                    <!-- Div con margen superior e inferior y altura específica -->

                    <strong class="d-none d-md-block h6 my-2">Email enviado</strong>
                    <!-- Título para pantallas medianas y grandes -->

                    <p class="mb-5">Le hemos enviado instrucciones por correo electrónico para establecer su contraseña. Si no han llegado en unos minutos, revisa tu carpeta de correo no deseado.</p>
                    <!-- Mensaje informativo -->
                </div>
            </div>

            <div class="col-md-3"></div>
            <!-- Columna vacía para crear espacio a la derecha -->
        </div>
    </main>
</div>
{% endblock %}
<!-- Fin del bloque de contenido -->
