{% extends 'base.html' %}
{% block content %}
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        <!-- Contenedor principal que incluye márgenes y espaciado con clases de Bootstrap -->

        <main class="container">
            <!-- Contenedor principal -->

            <div class="row g-5">
                <!-- Fila con espacio entre columnas -->

                <div class="col-md-3"></div>
                <!-- Columna vacía para crear espacio a la izquierda -->

                <div class="col-md-6">
                    <!-- Columna central que contiene el mensaje de confirmación -->

                    <div class="mt-5 mb-5" style="height:25vh">
                        <!-- Contenedor con márgenes verticales para centrar el contenido -->
                        <h1>¡La contraseña ha sido cambiada!</h1>
                        <!-- Mensaje de confirmación -->
                        <p><a href="{% url 'login' %}">¿ingresar de nuevo?</a></p>
                        <!-- Enlace a la página de inicio de sesión -->
                    </div>
                </div>

                <div class="col-md-3"></div>
                <!-- Columna vacía para crear espacio a la derecha -->
            </div>
        </main>
    </div>
{% endblock %}
