{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
        <!-- Contenedor principal que incluye márgenes y espaciado con clases de Bootstrap -->

        <main class="container">
            <!-- Contenedor principal -->

            <div class="row g-5">
                <!-- Fila con espacio entre columnas -->

                <div class="col-md-3"></div>
                <!-- Columna vacía para crear espacio a la izquierda -->

                <div class="col-md-6">
                    <!-- Columna central que contiene el formulario o mensaje de error -->

                    {% if validlink %}
                        <!-- Si el enlace de restablecimiento es válido -->
                        <p>Por favor ingrese (y confirme) su nueva contraseña</p>
                        <!-- Mensaje de instrucción -->
                        <form action="" method="post">
                            <!-- Formulario para ingresar la nueva contraseña -->
                            {% csrf_token %}
                            <!-- Token CSRF para proteger contra ataques CSRF -->
                            {{ form|crispy }}
                            <!-- Renderiza el formulario utilizando crispy_forms -->
                            <input type="submit" class="btn btn-outline-primary" value="Change my password">
                            <!-- Botón para enviar el formulario -->
                        </form>
                    {% else %}
                        <!-- Si el enlace de restablecimiento no es válido -->
                        <h1>Error al restablecer la contraseña</h1>
                        <!-- Mensaje de error -->
                        <p>El enlace de restablecimiento de contraseña no era válido, posiblemente porque ya se usó. Solicite un nuevo restablecimiento de contraseña.</p>
                        <!-- Explicación del error -->
                    {% endif %}
                </div>

                <div class="col-md-3"></div>
                <!-- Columna vacía para crear espacio a la derecha -->
            </div>

        </main>
    </div>
{% endblock %}
