{% extends 'base.html' %}
<!-- Extiende la plantilla base 'base.html' -->

{% load crispy_forms_tags %}
<!-- Carga las etiquetas de crispy forms -->

{% block content %}
<!-- Define el bloque de contenido específico -->

<div class="container-xxl bd-gutter mt-3 my-md-4 bd-layout">
    <!-- Contenedor principal con clases de Bootstrap -->

    <main class="container">
        <!-- Contenedor principal -->

        <div class="row g-5">
            <!-- Fila con espacio entre columnas -->

            <div class="col-md-3"></div>
            <!-- Columna vacía para crear espacio a la izquierda -->

            <div class="col-md-6">
                <!-- Columna central -->

                <div class="mb-3">
                    <!-- Div con margen inferior -->

                    <form action="" method="post">
                        <!-- Formulario de reseteo de contraseña -->
                        {% csrf_token %}
                        <!-- Token CSRF -->

                        {% if form.email.errors %}
                            <!-- Verifica si hay errores en el campo de correo electrónico -->
                            {{ form.email.errors }}
                            <!-- Muestra los errores si existen -->
                        {% endif %}

                        <h1>Resetear Contraseña</h1>
                        <!-- Título del formulario -->

                        <hr class="d-none d-md-block my-2 mb-3 mt-2">
                        <!-- Línea horizontal -->

                        ¿Olvidaste tu contraseña? Ingrese su dirección de correo electrónico a continuación y le enviaremos instrucciones por correo electrónico para configurar una nueva.
                        <!-- Instrucciones para restablecer la contraseña -->

                        {% csrf_token %}
                        <!-- Token CSRF -->

                        <p>{{ form|crispy }}</p>
                        <!-- Renderiza el formulario con el estilo de crispy forms -->

                        <input type="submit" class="btn btn-outline-primary btn-lg" value="Reset password">
                        <!-- Botón de envío del formulario -->
                    </form>
                </div>

            </div>

            <div class="col-md-3"></div>
            <!-- Columna vacía para crear espacio a la derecha -->
        </div>
    </main>
</div>
{% endblock %}
<!-- Fin del bloque de contenido -->
